#[core]
#    editor = vim

[user]
    name = Dmitry Korlas
    email = dmitry.korlas@gmail.com
[github]
    user = dmitry.korlas
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[merge]
    tool = meld

#[merge]
#    tool = mymeld
#    conflictstyle = diff3
#[mergetool "mymeld"]
#    cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
#    #cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE

# it works, uncomment to run
#[diff]
#    external = mymeld-diff

[alias]
    glog = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
